<h2>Comments</h2>

<div *ngIf ="comments[]">

	<ul class="list-group">
		<li class="list-group-item comment"
		*ngFor="let comment of comments">

<div class="comment-info">
		<a class="comment-user" routerLink="/authors/{{ comment.user.id }}">
			{{ comment.user.first_name }}
			{{ comment.user.last_name }}
		</a>
	<time>{{ comment.created_at }}</time>
	<button [hidden] ="!authService.isAuthenticated ||
	authService.isAuthenticated && user.id !==
	comment.user_id" class="btn btn-outline-danger">
	Delete
	</button>
</div>

		<p class="comment-body"> {{ comment.body }} </p>
		
		</li>
	</ul>
</div>

<add-comment [hidden]="!authService.isAuthenticated"
	(addCommentEvent)="addComment($event)">
</add-comment>